.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  gap: 10px;
}
.loading-indicator div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  animation: bounce 1.4s infinite ease-in-out both;
}
.loading-indicator div:nth-child(1) {
  animation-delay: -0.32s;
}
.loading-indicator div:nth-child(2) {
  animation-delay: -0.16s;
}
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}